@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

@import 'foundation_overrides';
@import 'zurb-foundation-5/scss/foundation';
@import 'zurb-foundation-5/scss/foundation/components/_switches';
@import 'font-awesome/css/font-awesome.min.css';

$brand: #FFA102;
$brand-blue: #0260ff;
$brand-green: #02ffa1;
$brand-red: #ff0260;

body {
  background-color: $smoke;
}

a, a:hover, a:focus {
  color: $brand;
}

.heading-container {
  box-shadow: 0 2px 3px #E1E5E6;
  margin-bottom: 10px;
  text-align: center;
  height: 250px;
  background-color: $black;
  .powered {
    color: $white;
  }
  .text-branded {
    margin-left: 5px;
  }
}
.heading-image {
  background: url("showdown-header.jpg") #000 center top;
  height: 250px;
  width: 100%;
  position: absolute;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.2;
}

h1{
  font-family: 'Permanent Marker', cursive;
  background: $brand;
  background: -webkit-linear-gradient(left, #FF9800, #FFE058); // We will need to generate gradient colors to complement the background.
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4em;
  padding-top: 0.5em;
  text-shadow: 0 2px 5px RGBA(255, 161, 2, .5);
  -webkit-filter: grayscale(0);
  filter: grayscale(0 );

}
.clear {
  clear: both;
}
.panel-box {
  padding: 0 10px;
}
.card {
  box-shadow: 0px 2px 2px #898989;
  min-height: 60px;
  border-bottom: 1px solid $smoke;
  background-color: $white;
}
.companies h2, .users h2, .twitter h2 {
  font-size: 1.4em;
}
.company {
  background-color: $white;
  .inner {
  }
  .intro {
    padding: 2px;
    margin-bottom: 1px;
    position: relative;
    .url {
      float: left;
      margin-left: 5px;
    }
    h3 {
      display: inline-block;
    }
  }
  .steps {
    float: right;
  }
  .logo {
    float: left;
    max-width: 50px;
    box-shadow: #FFF 0 0 4px;
    background-color: #FFF;
    border-radius: 100px;
    height: 50px;
    margin: 2px;
  }
  &.selected {
    background-color: $brand;
  }
}

.user {
  .photo {
    float: left;
    max-width: 40px;
    margin: 10px;
  }
  .name {
    float: left;
    margin-left: 5px;
    font-size: 1.2rem;
  }
  .steps {
    float: right;
    margin-right: 5px;
  }
}
.footer-container {
  background-color: $brand-green;
}