extends layout

block content
  .page-container
    .large-12.columns.full-width.presentation-section.contact-main-section
      .row
        h4 Uh oh...
        h1.giant 404
        h4 Where were you going? The showdown was back there.
        a(href="/" class="button alert") Home
