block footer
  .footer-container
    .row
      .cta.jumbotron.text-center
        h3
          small Track your Health, Track your Progress
        h2
          | Get 
          span.text-branded Nudge
        a.btn.btn-primary.btn-lg(href='https://www.nudgeyourself.com', target='_blank') Learn more about Nudge
        h5
          small Available on iOS and Android devices