block header
  .heading-container
    .row
      .large-8.columns
        h1 the SHOWDOWN
      .large-4.columns
        | Powered by
        a.text-branded(href='https://www.nudgeyourself.com/', target='_blank') Nudge