block header
  .heading-container
    .heading-image
    .row
      .large-12.columns
        h1 the SHOWDOWN
        span.powered Powered by
        a.text-branded(href='https://www.nudgeyourself.com/', target='_blank') Nudge
    #date-panel