extends layout

block content
  .page-container
    .row
      #dashboard-container
      .large-3.small-6.columns
        //Gave up trying to get this into react though it would be better of in there I think
        a.twitter-timeline(href="https://twitter.com/hashtag/dctech" data-widget-id="600035238513901568")
          dctech Tweets
        script(type=javascript/text)
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>